.newRecommend-form{
    margin: 10px 10px 10px 10px;
    color: #463077;
    font-size: medium;
    font-weight: bold; 
}

.newRecommend-h1{
    font-size: 130%;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.newRecommend-container{
    border: 2px solid #C99700;
    border-radius: 25px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.newRecommend-row{
    margin: 0px;
    padding: 7px 7px;
    font: 300 150% sans-serif;
}

.newRecommend-rating{
    font-size: xx-large;
    margin: 0.5em;
}

.newRecommend-font{
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}

.newRecommend-btn{
    color:#ffff;
    background-color:#463077;
    border-color:#463077;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px; 
    font-size: large;
    font-weight: bolder;
}
.newRecommend-rating-font{
    margin-top: '1em';
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .newRecommend{
        width: 100%;
    }
    .newRecommend-form{
        margin: 1px;
        padding-top: 5px;
        font-size: small;
        font-weight: bold; 
    }
    
    .newRecommend-h1{
        color: #463077;
        margin: auto;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
    }
    
    .newRecommend-container{
        padding: 25px;
        width: 95%;
        height: 90%;
        margin: auto;
    }
    
    .newRecommend-row{
        padding: 1px !important;
    }

    .newRecommend-label{
        font-size: xx-small;
        padding-top: 2px;
    } 
    .newRecommend-rating{
        font-size: medium;
    }
    
    .newRecommend-font{
        margin: 0px;
        padding: 0px;
        font-size: 50%;
        font-weight: 200;
        text-align: left;
    
    }
    
    .newRecommend-btn{
        margin-top: 20px;
        padding: 0.3em;
        width: 90px;
        font-size: medium;
        font-weight: bolder;
    }

    .newRecommend-rating-font{
        margin-top: 25px;
        font-size: small;
        font-weight: 400;
    }    
}