.viewRecommends{
    width: 100%;
}

.viewRecommends-h1 {
    text-align: left;
    margin-left: 25px;
}

.viewRecommends-btn {
    color: #463077;
    background-color:#FFDE59;
    border-color:#463077;
    margin-left:980px;
    font-weight: bolder;
}

.viewRecommends-form {
    text-align: left;
    margin: 20px 50px 20px 50px;
    border-bottom: 2px solid lightgray;

}

.viewRecommends-col {
    font-size: medium;
    margin-top: 10px;

}
.viewRecommends-edit-btn{
    color: red;
}

@media only screen and (max-width: 600px) {
    .viewRecommends{
        width: 100%;
    }
    
    .viewRecommends-h1 {
        font-size: 130%;
        margin: 10px;
        text-align: left;
    }
    
    .viewRecommends-btn {
        margin: 0px 0px 0px 200px;
        font-weight: bolder;
        font-size: x-small;
    }
    
    .viewRecommends-form {
        text-align: left;
        margin: 10px;
        border-bottom: 2px solid lightgray;
    
    }
    
    .viewRecommends-row{
        padding: 3px 15px !important;
        display: block;
    }

    .viewRecommends-col {
        margin-top: 10px;
        font-size: 60%;
        padding: 1px;
    
    }
    .viewRecommends-edit-btn{
        color: red;
        font-size: 80%;
    }  
}