.account-h1{
    text-align: left;
    padding-top: 15px;
    margin: 0px 0px 10px 75px;  
}

.account-container{
    border: 2px solid #FFDE59;
    border-radius: 25px;
    padding: 10px 0px 0px 0px;
    width: 700px;
    height: 500px;
    margin: 0px 0px 0px 60px; 
    text-align: left;
}

.account-row{
    margin: 0px 0px 0px 0px;
    padding: 7px 5px;
}

.account-student-btn{
    color:#463077;
    background-color:#FFDE59;
    border-color:#C99700;
    margin: 10px 10px 10px 10px; 
    font-size: large;
    font-weight: bolder;

}

.account-edit-delete{
    color:#585555;
    background-color:#C99700;
    border-color:#C99700;
    display: block;
    margin: 10px 30px 10px 30px; 
    font-size: medium;
    font-weight: bolder;
    width: 80px;
    height: 40px;

}

@media only screen and (max-width: 600px) {
    
}